# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Application Settings
DOWNLOAD_DIR=/app/downloads
MAX_WORKERS=4

# API Settings
API_TITLE=Music Download API
API_VERSION=0.1.0

#spotify web API credentials
SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here